.ts-container {
  width: 100%
}

@media (min-width: 640px) {
  .ts-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .ts-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .ts-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .ts-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .ts-container {
    max-width: 1536px
  }
}

.ts-absolute {
  position: absolute
}

.ts-relative {
  position: relative
}

.ts-inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.ts-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.ts-mt-6 {
  margin-top: 1.5rem
}

.ts-flex {
  display: flex
}

.ts-h-80 {
  height: 20rem
}

.ts-h-full {
  height: 100%
}

.ts-w-full {
  width: 100%
}

.ts-max-w-7xl {
  max-width: 80rem
}

.ts-max-w-2xl {
  max-width: 42rem
}

.ts-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ts-flex-row {
  flex-direction: row
}

.ts-flex-wrap {
  flex-wrap: wrap
}

.ts-space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse))
}

.ts-overflow-hidden {
  overflow: hidden
}

.ts-rounded-lg {
  border-radius: 0.5rem
}

.ts-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.ts-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.ts-bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
}

.ts-from-yellow-400 {
  --tw-gradient-from: #facc15;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(250 204 21 / 0))
}

.ts-to-red-500 {
  --tw-gradient-to: #ef4444
}

.ts-decoration-clone {
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone
}

.ts-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.ts-object-center {
  -o-object-position: center;
     object-position: center
}

.ts-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.ts-py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.ts-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.ts-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.ts-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.ts-font-extrabold {
  font-weight: 800
}

.ts-font-semibold {
  font-weight: 600
}

.ts-text-transparent {
  color: transparent
}

.ts-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.ts-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.ts-line-through {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through
}

.ts-transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}
